set clipboard+=unnamedplus
set visualbell

set NERDTree
set highlightedyank
set commentary

set relativenumber
set number

set incsearch
set smartcase
set ignorecase
set gdefault

set scrolloff=8

let g:highlightedyank_highlight_color = "rgba(38, 139, 210, 51)"

let mapleader = " "

nnoremap J mzJ`z
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

nnoremap <leader>y \"+y
vnoremap <leader>y \"+y
nnoremap <leader>Y \"+Y

nnoremap <leader>d \"_d
vnoremap <leader>d \"_d

nnoremap <C-/> :Commentary<CR>
vnoremap <C-/> :Commentary<CR>

inoremap <C-c> <Esc>

nnoremap Q <nop>

xnoremap <leader>p "_dP

map <C-k> <Action>(ShowErrorDescription)

